<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCCDDmOrL01zZCBUehQH1ABy62lAAjym-g</string>
	<key>GCM_SENDER_ID</key>
	<string>1009487601323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.amongUsGdsc</string>
	<key>PROJECT_ID</key>
	<string>amongusgdsc</string>
	<key>STORAGE_BUCKET</key>
	<string>amongusgdsc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009487601323:ios:30e7b4a079c31364e4e1ee</string>
	<key>DATABASE_URL</key>
	<string>https://amongusgdsc-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>